body
{
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #002040;
  color: #0080f0;
}

.handler
{
  fill:rgba(255, 255, 255, 0.5);
  stroke:rgba(255, 255, 255, 1.0);
}

.handler:hover
{
  fill:rgba(255, 255, 255, 1.0);
  cursor: grab;
}


#svgArea
{
  fill:rgba(255, 255, 255, 0.1);
}

#screenArea
{
  fill: rgba(255, 255, 255, 0.5);
}

#uvArea
{
  fill: rgba(255, 255, 255, 0.25);
}
